.element__name {
    margin: 0;
    padding: 0;
    padding-right: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 195px;
}

@media screen and (max-width:900px) {
    .element__name {
    max-width: 150px;
    }
    
}

@media screen and (max-width:660px) {
    .element__name {
        max-width: 110px;
        }
    
}

@media screen and (max-width:360px) {
    .element__name {
        max-width: 90px;
        }
    
}


@media screen and (max-width:330px) {
    .element__name {
        max-width: 160px;
        }
    
}