.profile__edit-button {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: black;
    outline: none;
    margin: 5px auto 0 18px;
    border: 1px solid #ffff;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-size: 14px auto;
    background-repeat: no-repeat;
}

.profile__edit-button:hover {
    opacity: 60%;
    transition: 0.3s linear;
    cursor:pointer;
}

@media screen and (max-width: 660px) {
    .profile__edit-button {
    background-size: 7.5px auto;
    width: calc(26/660*100vw);
    height: calc(26/660*100vw);
    margin: calc(25/660*100vw) 0 calc(15/660*100vw) calc(10/660*100vw);
    }
}


@media screen and (max-width: 320px) {
    .profile__edit-button {
    width: calc(18/320*100vw);
    height: calc(18/320*100vw);
    margin: calc(7/320*100vw) 0 0 calc(10/320*100vw);
    }
}