.page {
    position: relative;
    box-sizing: border-box;

    background-color: black;
    margin: 0 auto 0 auto;
    height: 100%;
   
}

@media screen and (max-width: 900px) {
    .page {
        max-width: 100%;    
    }
    
}
