.popup__profile-input_title {
    margin: 50px 36px 0 36px;
}

@media screen and (max-width:600px) {
    .popup__profile-input_title {
        margin: calc(70/600*100vw) calc(22/600*100vw) 0 calc(22/600*100vw);
    }
}

@media screen and (max-width:320px) {
    .popup__profile-input_title {
        margin: calc(70/320*100vw) calc(22/320*100vw) 0 calc(22/320*100vw);
    }
}