.popup__addition-save-button {
    background-color: black;
    padding: 0;
    color: white;
    outline: none;
    border: none;
    width: 358px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px 36px 37px 36px;
    border-radius: 2px;
}



 @media screen and (max-width:660px) {
     .popup__addition-save-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 47px 22px 25px 22px;
  }
}

.popup__addition-save-button:hover {
    opacity: 60%;
    transition: 0.3s linear;
    cursor:pointer;
}

.popup__addition-save-button_disabled {
    opacity: 20%;
    background-color:white;
    color: rgba(0, 0, 0, 1);
    border: rgba(0, 0, 0, 1) 1px solid;

}