.popup__editing-form {
    display: flex;
    flex-direction: column;
    width: 430px;
    min-height: 340px;
    max-height: 390px;
    background-color: white;
    border-radius: 10px;
    z-index: 11;
    border: none;
}



@media screen and (max-width:660px) {
    .popup__editing-form {
        width:282px;
        height:322px;
        
    }
    
}

