.header {
    max-width: 880px;
    display: flex;
    border-bottom: 1px #545454 solid;
    margin: 0 auto 0 auto;
    justify-self: center;
}

@media screen  and (max-width:320px) {
    .header {
        height: calc(84/320*100vw);
    }
    
}