.profile__title {
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 94%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
    
}

@media screen and (max-width:660px) {
    .profile__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: calc(42/660*100vw);
    max-width: 300px;
}
}

@media screen and (max-width:320px) {
    .profile__title {
    box-sizing: border-box;
    padding-top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(27/320*100vw);
    text-align: center;
    letter-spacing: 0.3px;
    max-width: 180px;

}
}