.elements {
    margin-top: calc(46/1280*100vw);
    display: grid;
    grid-template-columns: repeat(3, calc(282/1280*100vw));
    grid-template-rows: repeat(2,calc(361/1280*100vw));
    column-gap: calc(17/1280*100vw);
    row-gap: calc(20/1280*100vw);
}

@media screen and (max-width:400px) {
    .elements {
        margin-top: calc(36/320*100vw);
        grid-template-columns: calc(282/320*100vw);
        grid-template-rows: repeat(6, calc(361/320*100vw));
        row-gap: calc(20/320*100vw);
        margin: calc(36/320*100vw) calc(19/320*100vw) 0 calc(19/320*100vw);
    }
    
}