.elements {
    box-sizing: border-box;
    padding-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 362px);
    grid-auto-rows: 361px;
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width:900px) {
    .elements {
        transition: 0.3s linear;
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(2, 361px);
        grid-auto-rows: 361px;
        column-gap: 5px;
        row-gap: 20px;
        padding: calc(46/900*100vw) calc(10/900*100vw) 0 calc(10/900*100vw);
        
    }
    
}

@media screen and (max-width:850px) {
    .elements {
        width: 580px;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        grid-auto-rows: 361px;
        row-gap: 20px;
        column-gap: 16px;
        padding: calc(36/660*100vw) 0 0 0;
        margin-right: auto;
        margin-left: auto;
    }
    
}

@media screen and (max-width:660px) {
    .elements {
        width: 282px;
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
        grid-auto-rows: 361px;
        row-gap: calc(20/320*100vw);
        padding: calc(36/320*100vw) auto 0 auto;
        margin-right: auto;
        margin-left: auto;
    }
    
}