.popup__image-photo {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    max-width: 900px;
    max-height: 600px;
    background-color: white;
    z-index: 11;
    object-fit: contain;
}

@media screen and (max-width:600px) {
    .popup__image-photo {
        max-width:calc(500/600*100vw);
        max-height:calc(400/600*100vw);
        
    }
    
}

@media screen and (max-width:320px) {
    .popup__image-photo {
        max-width:calc(260/320*100vw);
        max-height:calc(300/320*100vw);
        
    }
    
}