.popup__image-photo {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    max-width: 75vw;
    max-height: 75vh;
    background-color: white;
    z-index: 11;
    
}
