.element__caption {
    position: relative;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 282px);
    padding-right: 20px;
    padding-left: 21px;
}


@media screen and (max-width:850px) {
    .element__caption {
    height: calc(100% - 282px);
    padding-right: 15px;
    padding-left: 21px;
    }
    
}

@media screen and (max-width:660px) {
    .element__caption {
    height: calc(100% - 282px);
    padding-right: 20px;
    padding-left: 20px;
    }
    
}