.popup__save-button {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    width: calc(358/1280*100vw);
    height: calc(50/1280*100vw);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/1280*100vw);
    line-height: calc(22/1280*100vw);
    text-align: center;
    margin: calc(48/1280*100vw) calc(36/1280*100vw) calc(37/1280*100vw) calc(36/1280*100vw);
}

 @media screen and (max-width:400px) {
     .popup__save-button {
        width: calc(238/320*100vw);
        height: calc(46/320*100vw);
        font-size: calc(14/320*100vw);
        line-height: calc(17/320*100vw);
        margin: calc(45/320*100vw) calc(22/320*100vw) calc(25/320*100vw) calc(22/320*100vw);
  }
}

.popup__save-button:hover {
    opacity: 60%;
    transition: 0.3s linear;
    cursor:pointer;
}