.popup__addition-profile-input {
    outline: none;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid; /*opacity в макете 0.2*/
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    
}




@media screen and (max-width:660px) {
    .popup__addition-profile-input {
        font-size: 14px;
        line-height: 17px;
        height: 30px;
    }
}





.popup__addition-profile-input_type_error {
    border-bottom: 1px red solid;
}


.popup__addition-profile-input_error{
    visibility: hidden;
}

.popup__addition-profile-input_error_active {
    visibility:visible;
    margin: 5px auto auto 36px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
};