.popup__addition-profile-input {
    outline: none;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid; /*opacity в макете 0.2*/
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    
}




@media screen and (max-width:660px) {
    .popup__addition-profile-input {
        font-size: 14px;
        line-height: 17px;
        height: 30px;
    }
}
