.profile__avatar {
    width: 151px;
    height: max-content;
}

@media screen and (max-width:660px) {
    .profile__avatar {
        width:calc(168/660*100vw);
        align-self: center;
    }
    
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        width:calc(168.75/320*100vw);
        height: calc(127.5/320*100vw);
        margin: 0 auto 0 auto;
    }
    
}