.popup__image-title {
    margin: 10px 0 auto auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
}



@media screen and (max-width:660px) {
    .popup__image-title {
        
        font-size: 12px;
        line-height: 15px;
        align-self: center;
    }
    
}