.popup-addition__save-button {
    background-color: black;
    padding: 0;
    color: white;
    outline: none;
    border: none;
    width: 358px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px 36px 37px 36px;
    border-radius: 2px;
}

@media screen and (max-width:600px) {
    .popup-addition__save-button {
       width: calc(238/600*100vw);
       height: calc(46/600*100vw);
       font-size: calc(14/600*100vw);
       line-height: calc(17/600*100vw);
       margin: calc(47/600*100vw) calc(22/600*100vw) calc(25/600*100vw) calc(22/600*100vw);
 }
}

 @media screen and (max-width:320px) {
     .popup-addition__save-button {
        width: calc(238/320*100vw);
        height: calc(46/320*100vw);
        font-size: calc(14/320*100vw);
        line-height: calc(17/320*100vw);
        margin: calc(47/320*100vw) calc(22/320*100vw) calc(25/320*100vw) calc(22/320*100vw);
  }
}

.popup-addition__save-button:hover {
    opacity: 60%;
    transition: 0.3s linear;
    cursor:pointer;
}