.profile__photo {
    margin: 0 30px 0 0;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    
}

@media screen and (max-width: 660px) {
    .profile__photo {
        margin: 3.75px AUTO 3.75px auto;

    }
    
}

@media screen and (max-width: 320px) {
    .profile__photo {
        align-self: center;
        margin: 3.75px AUTO 3.75px auto;
    }
    
}