.profile__photo {
    margin: 3.75px 24.375px 0 0;
    width: 121px;
    height: 121px;
    border-radius: 120px;
    
}

@media screen and (max-width: 660px) {
    .profile__photo {
        width: 100%;
        height: auto;

    }
    
}

@media screen and (max-width: 320px) {
    .profile__photo {
        width: calc(120/320*100vw);
        height: auto;
        align-self: center;
        border-radius: calc(120/320*100vw);
        margin: 3.75px 24.375px 3.75px 24.375px;
    }
    
}