.element__button-like {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.element__button-like_active {
    opacity: 1;
    transition: 0.3s linear;
    background-image: url(../../../images/Union.svg);
    cursor:pointer;
}


.element__button-like:hover {
    transition: 0.3s linear;
    opacity: 0.5;
    cursor:pointer;
}

.element__button-like:active {
    opacity: 1;
    transition: 0.3s linear;
    background-image: url(../../../images/Union.svg);
    cursor:pointer;
}

@media screen and (max-width: 400px) {
    .element__button-like {
        width: calc(22/320*100vw);
        height: calc(19/320*100vw);
}
}





.element__button-delete {
    position: absolute;
    top:20px;
    right:20px;
    border: none;
    outline: none;
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/delete.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.element__button-delete:hover {
    transition: 0.3s linear;
    opacity: 0.5;
    cursor:pointer;
}


.element__content {
    position: relative;
}



